# Amazon BS market radar

.env
.env.*
!.env.example
*.db
*.sqlite
*.sqlite3
node_modules/
__pycache__/
.venv/
venv/
.DS_Store
.wrangler/
.dev.vars
cookies*
token*
credentials*
secrets*
